<fieldset>
  <legend>Groups 
  </legend>

  <table class="g-table">
    <tr class="hdr">
      <th>Name</th>
      <th>Subdomain</th>
    </tr>
  <% altswitch = false %>
  <% @groups.each do |group| %>
    <% altswitch = !altswitch %>
    <% altclass = altswitch ? "" : "class=\"alt\"".html_safe %>
    <tr <%= altclass %>>
      <td><%= link_to group.name, group, :class => "link-go-button" %></td>
      <td><%= group.subdomain %></td>
    </tr>
  <% end %>
  </table>

</fieldset>


