<p>There are <%= @events.count %> events over x days.</p>
<p>There are <%= @orphane.count %> round orphans on events.</p>
Here are members without rounds

<% @members.each do |m| %>

<p><%= m.inspect%></p>

<% end%>
  
 <p><%= @orphane.inspect%></p>
 